//  Variables
$verydarkgrayishblue: hsl(217, 19%, 35%);
$desaturateddarkblue: hsl(214, 17%, 51%);
$grayishblue : hsl(212, 23%, 69%);
$lightgrayishblue  : hsl(210, 46%, 95%);

html{
    box-sizing: border-box;
    font-size: 13px;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    font-family: Manrope, arial, monospace, sans-serif;   
    background-color: $grayishblue;
}

img{
    max-width: 100%;
}

.wrapper{
    height: 100vh;
    display: grid;
    place-content: center;
}

.card{
    background-color: $lightgrayishblue;
    border-radius: 1em;
    overflow: hidden;
    margin: 2em;

    &__img{
        width: 100%;
        height: 250px;
    }

    &__content{
        padding: 2.5em;
    }

    &__title{
        font-weight: 700;
        font-size: 1.5rem;
        color: $verydarkgrayishblue;
        line-height: 1.25em;
    }

    &__desc{
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 1em;
        color: $desaturateddarkblue;
        line-height: 1.5em;
    }

    &__profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
    }

    &__avatar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__img{
            border-radius: 50%;
            width: 45px;
        }

        &__info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 40px;
            margin-left: 1em;

            h3:last-child{
                opacity: 50%;
            }
        }

    }

    &__share{
        padding: 1em .8em;
        width: 40px;
        background-color: $grayishblue;
        border-radius: 50%;
    }

}


@media screen and (min-width: 700px){
        
    .card{
        margin: 0 10em;
    }

}


@media screen and (min-width: 1000px){
        
    .card{
        margin: 0 20em;
    }

}

@media screen and (min-width: 1200px){
        
    .card{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(350px, 1fr);

        &__img{
            grid-column: 1/3;
            height: 100%;
        }

        &__content{
            grid-column: 3/-1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__title{
            font-size: 1.85rem;
        }

        &__desc{
            font-size: 1.5rem;
        }

        &__avatar{

            &__img{
                width: 50px;
            }

            &__info{
                font-size: 1.25rem;
            }
        }

        &__share{
            width: 45px;
        }
    }

}